* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header, nav{
    background-image: linear-gradient(to right, #EA99FC , #d000ff);
    width: 100%;
    position: fixed;
    /*coloquei isso daqui de baixo para deixar ela como camada principal*/
    z-index: 9999;
}
header ul.menu{
    padding-left: 40%;
}
a.nav-link{
    color: white;
}
a.nav-link:hover{
    color: white;
    text-decoration: aliceblue;
}
section.banner{
    padding-top: 70px;
}

article.container h1{
    padding-top: 10%;
}
article.container h3{
    padding-top: 7%;
}

article.container, primeiro{
    padding-top: 50px;
}
article.container, segundo{
    padding-bottom: 20px;
}

footer.container-fluid{
    background-image: linear-gradient(to right, #76C8FA, #009dff);
    color: white;
}
figure.logo{
    padding-left: 371px;
}
ul.redes{
    padding-left: 150px;
}
h2.perstexcinco{
    font-weight: bold;
    width: 50%;
    padding-top: 5%;
    padding-left: 10%;
    background-image: linear-gradient(to right, rgb(118, 201, 250) , rgb(235, 153, 252));
    color: #ffffff;
    box-shadow: 25px 15px rgb(71, 129, 216);
    transition: all 0.5s;
    cursor: pointer;
    
}
h2.perstexcinco:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

ul li.nav-item{
    transition: all 0.5s;
    cursor: pointer;
}
ul li.nav-item:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
ul li.rede{
    padding-top: 10%;
    width: 12%;
    float: left;
    list-style-type: none
}
figure.logo{
    padding-left: 10%;
}

/*aqui é do Pedro*/
/*secoes fale conosco*/
section.fale{
    width: 90%;
    padding-top: 100px;
    padding-bottom: 2%;
    padding-left: 10%;

}
div.cor{
    background-image: linear-gradient(to right, rgb(255, 176, 248) , rgb(81, 126, 248));
    box-shadow: 5px 4px rgb(124, 60, 167);
}

section.per{
    width: 90%;
    padding-bottom: 3%;
    padding-left: 10%;
}
div.perguntaf{
    background-image: linear-gradient(to right, rgb(189, 206, 243) , rgb(250, 127, 240));
    box-shadow: 15px 10px rgb(124, 60, 167);
}
.perstext{
    font-weight: bold;
    color: #001306;
}
ul.tirarbolinha li{
    list-style-type: none
}

/*Sobre*/
div.modificartamanho{
    background-image: url(../img/carrosel1.JPG);
    height: 850px;
    padding-top: 150px;
}
.perstextdois{
    font-weight: bold;
    width: 40%;
    padding-left: 10%;
    background-image: linear-gradient(to right, rgb(252, 176, 235) , rgb(231, 70, 252));
    color: #ffffff;
    box-shadow: 50px 10px rgb(71, 129, 216);
    transition: all 0.5s;
    cursor: pointer;
    
    
}
.perstextdois:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.perstexttres{
    font-weight: bold;
    width: 70%;
    padding-left: 10%;
    background-image: linear-gradient(to right, rgb(250, 188, 229) , rgb(156, 88, 245));
    color: #ffffff;
    box-shadow: 50px 10px rgb(71, 129, 216);
    transition: all 0.5s;
    cursor: pointer;
       
}
.perstexttres:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.perstextquatro{
    font-weight: bold;
    width: 95%;
    padding-left: 10%;
    background-image: linear-gradient(to right, rgb(245, 212, 242) , rgb(159, 111, 247));
    color: #ffffff;
    box-shadow: 50px 10px rgb(71, 129, 216);
    transition: all 0.5s;
    cursor: pointer;
}
.perstextquatro:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
h1.moverparaolado{
    padding-left: 24%;
}

h1.perstexcinco{
    font-weight: bold;
    width: 50%;
    padding-left: 10%;
    padding-bottom: 4%;
    background-image: linear-gradient(to right, rgb(118, 201, 250) , rgb(235, 153, 252));
    color: #ffffff;
    box-shadow: 25px 15px rgb(71, 129, 216);
    transition: all 0.5s;
    cursor: pointer;
    
}
h1.perstexcinco:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
figure.afastar{
    padding-left: 4%;
}
section.colocarcor{
    background-image: linear-gradient(to right, rgb(213, 59, 233) , rgb(107, 168, 238));
    font-weight: bold;
    width: 80%;
    padding-top:20px;
    padding-bottom: 20px;
    padding-right: 10px;
    color: #ffffff;
    box-shadow: 50px 10px rgb(71, 129, 216);
    transition: all 0.5s;
    cursor: pointer;
}
section.colocarcor:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
article.endereco{
    padding-top:1%;
    padding-left: 10%;
    padding-bottom: 2px;
    background-image: linear-gradient(to right, rgb(186, 212, 219) , rgb(255, 251, 251));
    font-weight: bold;
}
/*Desenhos*/
section.desenhos{
    padding-top: 4%;
    width: 91%;
    padding-left: 12%;
}
section.indicadordesenhos{
    background-image: linear-gradient(to right, rgb(213, 59, 233) , rgb(107, 168, 238));
    font-weight: bold;
    width: 80%;
    padding-top:5%;
    padding-bottom: 20px;
    padding-right: 10%;
    color: #ffffff;
    box-shadow: 50px 10px rgb(71, 129, 216);
    transition: all 0.5s;
    cursor: pointer;
}
section.indicadordesenhos:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
section.movercarrosel{
    padding-top: 30px;
}
section.desenhos{
    padding-left: 17%;
}
div.espacamentod{
    transition: all 0.5s;
    cursor: pointer;
    /* PRA DEIXAR COM O FUNDO PRETO OS CARDS COM AS IMAGENS DOS DESENHOS 
    background-color: black;
    color: #ffffff;
    */

}
div.espacamentod:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    margin-left: 2%;
}
p.redesd{
    padding-left: 30%;
    float: left;
}
p.artistad{
    padding-left: 5%;
    float: left;
}